<div class="content">
  <div class="logo">
    <img src="assets/images/logo.png" alt="" />
  </div>

  <div class="intro">
    <div class="title">Bem-vindo ao Red Road!</div>
    <div class="text">Viva a vida no Velho Oeste como nunca antes no Red Road. Seja um fora da lei ou um cidadão honesto, construa sua história e explore a fronteira em uma comunidade de jogadores amigável. Você é o protagonista desta aventura emocionante.</div>
    <div class="buttons">
      <button>Regras</button>
      <button>História</button>
    </div>
  </div>
  
  <div class="background">
  </div>
</div>
